<div class="container d-flex justify-content-center">  
  <div class="list-group col-auto">
    <div class="dropdown d-flex justify-content-center my-3">
      <button class="btn btn-secondary dropdown-toggle w-50" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        項目
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {{#each category}}
        <li><a class="dropdown-item" href="/filter/{{this.category}}">{{this.category_cn}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div class="total d-flex justify-content-end mr-4">
      <h5 class="my-2 mr-2">總金額</h5>
      <div class="totalamount d-flex justify-content-end"><h1>{{total}}</h1></div>
    </div>
    <div class="row expense mt-2" style="width:500px">
      {{#each records}}
      <div class="row each-expense d-flex align-items-center justify-content-around" style="width: 500px">
        <i class="{{this.icon}} fa-2x mr-2 pb-3"></i>
        <div class="name-date">
          <span>{{{this.name}}}</span>
          <p>{{{this.date}}}</p>
        </div>
        <p class="ml-5">{{{this.amount}}}</p>
        <a class="btn btn-light ml-5" href="/{{this._id}}/edit">編輯</a>
        <form action="/{{ this._id }}/delete?_method=DELETE" method="POST" style="display:inline;">
          <button class="btn btn-light ml-4" type="submit">刪除</button>
        </form>
      </div>
      {{/each}}
    </div>

    <div class="create-btn mt-3 text-center">
      <a class="btn btn-success w-50" href="/new">新增支出</a>
    </div>
  </div>  
</div>