

<div class="container d-flex justify-content-center">  
  <div class="list-group col-auto" style="width:200px">
    <div class="dropdown d-flex justify-content-center my-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/filter/food">Food</a></li>
        <li><a class="dropdown-item" href="/filter/entertainment">Entertainment</a></li>
        <li><a class="dropdown-item" href="/filter/house">House</a></li>
        <li><a class="dropdown-item" href="/filter/traffic">Traffic</a></li>
        <li><a class="dropdown-item" href="/filter/others">Others</a></li>
      </ul>
    </div>
    <div class="total">
      <h5 class="d-flex justify-content-start">總金額</h5>
      <div class="totalamount d-flex justify-content-end">{{#sum total}}{{/sum}}</div>
    </div>
    <div class="row expense mt-2" style="width:500px">
      {{#each records}}
      <div class="row each-expense d-flex align-items-center justify-content-around" style="width: 500px">
        <i class="{{this.icon}} fa-2x mr-2 pb-3"></i>
        <div class="name-date">
          <span>{{{this.name}}}</span>
          <p>{{{this.date}}}</p>
        </div>
        <p class="ml-5">{{{this.amount}}}</p>
        <a class="btn btn-light ml-5" href="./{{this._id}}/edit">編輯</a>
        <form action="./{{ this._id }}/delete?_method=DELETE" method="POST" style="display:inline;">
          <button class="btn btn-light ml-4" type="submit">刪除</button>
        </form>
      </div>
      {{/each}}
    </div>

    <div class="create-btn mt-3">
      <a class="btn btn-success w-100" href="/new">新增支出</a>
    </div>
  </div>  
</div>